<div class="welcome">
    <h1>block party</h1>
    <p>Let's make Twitter fun again! We auto-block the jerks so you can focus on the fun stuff.</p>
</div>

<div class="signin">
  <a href="http://localhost:3000/auth/twitter"><button>sign in with Twitter</button></a>
</div>