<div class="welcome">
    <h1>block party</h1>
    <p>Let's make Twitter fun again! We auto-block the jerks so you can focus on the important stuff.</p>
</div>

<div class="signin">
  <a href="http://block-party-wdi.herokuapp.com/auth/twitter"><button>sign in with Twitter</button></a>
</div>