$accentColor: #55ACEE;
$dinoPurple: #B531E8;

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background: url(../assets/dino-party.jpg) right top fixed no-repeat;
  background-color: #EEE;
  background-size: cover;
  color: #111;
  margin: 0;
  width: 100%;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
}

.welcome, .blocks {
  float: left;
  margin-left: 8%;
}

.welcome {
  font-size: 1.75em;
  width: 42%;
}

.menu {
    top: 4em;
    right: 2em;
    position: fixed;
    ul {
      list-style-type: none;
      list-style: none;
      li {
        background: $dinoPurple;
        border-radius: 5px;
        font-size: 1.125em;
        margin-top: 10px;
        padding: 5px 10px;
        &:hover {
          background-color: darken($dinoPurple, 20%);
          transition: .5s ease;
        }
        a {
          color: #FFF;
          text-decoration: none;
        }
      }
    }
  }

.blocks {
  font-size: 1.25em;
  margin-top: 2em;
  h2 {
    font-size: 2em;
    margin-bottom: 0.125em;
  }
  h3 {
    font-size: 1.5em;
    width: 55%;
  }
  .block-list {
    width: 42%;
  }
}

nav {
  background: $accentColor;
  color: #FFF;
  font-size: 1.75em;
  height: 2em;
  line-height: 1.75em;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 10;
  .notice {
    float: left;
    margin-left: 2%;
  }
  .blockparty {
    float: right;
    margin-right: 2%;
  }
  a {
    color: #FFF;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

button {
  background-color: $accentColor; 
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 1.5em;
  margin: 10%;
  outline: none;
  padding: 10px 15px;
  &:hover {
    background-color: darken($accentColor, 20%);
    transition: .5s ease;
  }
}

.unblock-button, .tweet-button, .word-button {
  font-size: 0.75em;
  margin: 0.5em;
  padding: 5px 10px;
  a {
    color: #FFF;
    text-decoration: none;
  }
}

input, input[type="submit"] {
  border: none;
  border-radius: 5px;
  font-size: 0.75em;
  height: 40px;
  outline: none;
}

input[type="submit"] {
  background-color: $accentColor; 
  color: #FFF;
  padding: 5px 10px;
}
