$accentColor: #55ACEE;

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background: url(../assets/dino-party.jpg) right top no-repeat;
  background-color: #EEE;
  background-size: cover;
  color: #111;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
}

.welcome, .blocks {
  float: left;
  font-size: 1.75em;
  margin-left: 10%;
  width: 40%;
}

button {
  background-color: $accentColor; 
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 1.5em;
  margin: 10%;
  outline: none;
  padding: 10px 15px;
  &:hover {
    background-color: darken($accentColor, 20%);
    transition: .5s ease;
  }
}
