$accentColor: #55ACEE;

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background: url(../assets/dino-party.jpg) right top fixed no-repeat;
  background-color: #EEE;
  background-size: cover;
  color: #111;
  margin: 0;
  width: 100%;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
}

.welcome, .blocks {
  float: left;
  margin-left: 8%;
}

.welcome {
  font-size: 1.75em;
  width: 42%;
}

.blocks {
  font-size: 1.25em;
  margin-top: 3em;
  h2 {
    font-size: 2em;
    margin-bottom: 0.125em;
  }
  .subheader {
    font-size: 1.125em;
    a {
      color: #111;
    }
  }
  .block-list {
    width: 42%;
  }
}

nav {
  background: $accentColor;
  color: #FFF;
  font-size: 1.75em;
  height: 2em;
  line-height: 1.75em;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 10;
  .notice {
    float: left;
    margin-left: 2%;
  }
  .blockparty {
    float: right;
    margin-right: 2%;
  }
  a {
    color: #FFF;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

button {
  background-color: $accentColor; 
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 1.5em;
  margin: 10%;
  outline: none;
  padding: 10px 15px;
  &:hover {
    background-color: darken($accentColor, 20%);
    transition: .5s ease;
  }
}

.unblock-button, .tweet-button {
  font-size: 0.75em;
  margin: 0.5em;
  padding: 5px 10px;
  a {
    color: #FFF;
    text-decoration: none;
  }
}
